body {
    font-family: Arial,  sans-serif; /* La famiglia del font */
    font-size: 18px; /* La dimensione del font principale nei tag <p></p> */
    background-image: url("rickroll.gif");  /* Il colore dello sfondo della pagina web */
    color: #000000; /* Il colore del testo */ 
}
@keyframes color-change {
  0%   { color: rgb(193, 27, 27); font-size: 32px; }
  50%  { color: rgb(125, 6, 6); font-size: 32px; }
  100% { color: rgb(193, 27, 27); font-size: 32px; }
}
h1 {
  animation: color-change 2s infinite;
}